body{
    opacity:0.9;
    background-color: #fff;
}
.navbar {
    margin: 0;
    padding: 0;
    border-radius: 0;
    border: none;

    min-height: 40px;
    background-image: none;
    background-color: #ccc;
    display: block;
}
.navbar-brand {
    float: left;
    height: 40px;
    padding-left: 22px;
    padding-right: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
    font-size: 18px;
    line-height: 20px;
}

.navbar-nav>li>a {
    padding-top: 10px;
    padding-bottom: 10px;
    color: #333333;
}
.list-group-item{    
    opacity:1;
    background-color: #fff;

    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.list-group-item:first-child {
    border-top-left-radius: 0;
    border-top-right-radius: 0;
}
.list-group-item:last-child {
    margin-bottom: 0;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
}

button{
    background-color: #99cc33;
}


#home_content{
    margin: 0;
    padding: 0;
    background-color: #fff;
}
#center_content{
    padding: 0;
    margin-bottom: -20px;
    margin-right:  0;
}
#func_category{
    margin: 0;
    padding-bottom: 0;
    padding-right: 0;
    border-radius: 0;
    width: fit-content;
}

